<mat-card class="matCardStyles">
  <p class="quizQuestionStyles" fxLayout="row" fxLayoutAlign="center center">
    {{ currentQuestion?.question }}
  </p>
  <div
    fxLayout="row"
    fxLayoutAlign="space-evenly center"
    class="parent"
    fxLayout.lt-sm="column"
    fxLayoutAlign.lt-sm="space-evenly center"
  >
    <div
      *ngFor="let option of currentQuestion?.options; let i = index"
      class="quizMargin"
    >
      <button
        mat-button
        [ngClass]="
          answer?.optionId === option.id
            ? 'quizQuestionsOptions quizSelectedAnswer '
            : 'quizQuestionsOptions'
        "
        (click)="sendChoosenAnswer(i, option.id)"
      >
        {{ option.answer }}
      </button>
    </div>
  </div>
</mat-card>
