<div fxLayout="row" fxLayoutAlign="center center" class="appQuizCardText">
  This will take you thru a series of 10 Handpicked JS questions.
</div>
<div fxLayout="column" class="appQuizCardMargin" @appear>
  <app-quiz-card
    (chosenAnswer)="selectAnswer($event)"
    [currentQuestion]="currentQuestion"
    [currentResponse]="currentResponse"
    fxLayout="row"
    fxLayoutAlign="center center"
  ></app-quiz-card>

  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-button class="quizSubmitButton" (click)="onSubmitClick()">
      Submit
    </button>
  </div>
</div>
